* {
  text-decoration: none;
}

body {
  font-size: 16px;
  background-color: $color-bkgd;
  color: black;
  text-align: center;
}

main {
  margin: auto;
  @media screen and (max-width: $responsive-laptop) {
    margin-top: 10vh;
  }
}

section {
  margin: 2rem 0;
  background-color: $color-bkgd;
  position: relative;
  z-index: 5;
  @media screen and (max-width: $responsive-laptop) {
    width: 80%;
  }
}

article {
  padding: 0 10%;
  margin: 2rem 0;
  background: $color-section;

  @media screen and (max-width: $responsive-laptop) {
    padding: 0 10%;
  }
}

h1,
h2 {
  @include font-h1-h2;
}

h3 {
  @include font-h3;
}

p {
  @include font-p;
}

q {
  @include font-q;
}

[class*="reveal"] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 2s;
}

.reveal-2 {
  transition-delay: 0.5s;
}
