* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: $color-bkgd;
  color: black;
  text-align: center;
}

main {
  margin: auto;
  @media screen and (max-width: $responsive-laptop) {
    margin-top: 10vh;
  }
}

section {
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
  background-color: $color-bkgd;
  position: relative;
  z-index: 5;
  @media screen and (max-width: $responsive-laptop) {
    width: 80%;
  }
}

article {
  padding: 0 10%;
  margin-bottom: 2rem;
  background: $color-section;
  @media screen and (max-width: $responsive-laptop) {
    padding: 0 10%;
  }
}

h1,
h2 {
  @include font-h1-h2;
  @include animation;
}

h3 {
  @include font-h3;
}

p {
  @include font-p;
}

q {
  @include font-q;
}
