* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: $color-bkgd;
}

main {
  margin: auto;
  @media screen and (max-width: $responsive) {
    margin-top: 10vh;
  }
}

section,
article {
  padding: 1.5rem 20vw 1.5rem 20vw;
  margin-bottom: 2rem;
}

article {
  background: $color-section;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

p {
  @include font-p;
}

q {
  @include font-q;
}
