.presentation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  @media screen and (max-width: $responsive-laptop) {
    flex-direction: column;
  }

  &-1 {
    @include animation(1.5s);
  }

  &-2 {
    @include animation(2.5s);
  }

  &__img {
    object-fit: cover;

    &--portrait {
      height: 300px;
    }

    &--landscape {
      height: 500px;
    }
  }
}
