.services {
  padding: 0 10%;
  margin-bottom: 2rem;

  @media screen and (max-width: $responsive-laptop) {
    padding: 0 10%;
  }
}

.cards {
  border-radius: 1rem;
  background-color: $color-white;
  box-shadow: 0.25rem 0.25rem 0.25rem $color-nav;

  &:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem $color-nav;
  }

  &__img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  &__title {
    padding: 1rem;
    color: $color-nav;
  }

  &__description {
    color: $color-black;
    margin: 0 1rem 2rem 1rem;
    text-align: justify;
    border-top: 2px solid $color-section;
    font-size: 1rem;
    font-style: italic;
  }
}
