.services {
  width: 70%;
  @media screen and (max-width: $responsive-large) {
    width: 90%;
  }
  @media screen and (max-width: $responsive-laptop) {
    width: 60%;
  }
  @media screen and (max-width: $responsive-phone) {
    width: 90%;
  }
}

.cards {
  border-radius: 1rem;
  background-color: $color-white;
  box-shadow: 0.25rem 0.25rem 0.25rem $color-nav;
  @include animation(1.5s);

  &:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem $color-nav;
  }

  &__img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;

    &--services {
      height: 600px;
      object-fit: cover;
      @media screen and (max-width: $responsive-laptop) {
        height: 400px;
      }
      @media screen and (max-width: $responsive-phone) {
        height: 300px;
      }
    }
  }

  &__title {
    padding: 1rem;
    color: $color-nav;
  }

  &__description {
    color: $color-black;
    margin: 0 1rem 2rem 1rem;
    text-align: justify;
    border-top: 2px solid $color-section;
    font-size: 1rem;
    font-style: italic;
  }
}
