@mixin font-name {
  font-family: "Simonetta", serif;
  font-size: 2rem;
  color: $color-black;
  font-weight: 400;
}

@mixin font-nav {
  font-family: "Simonetta", serif;
  font-size: 1.5rem;
  color: $color-black;
  text-align: center;
}

@mixin font-h1-h2 {
  font-family: "Dancing Script", serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 3rem;
  line-height: 3rem;
}

@mixin font-h3 {
  font-family: "Simonetta", serif;
  font-size: 1.5rem;
}

@mixin font-h4 {
  font-family: "Simonetta", serif;
  font-size: 1.25rem;
}

@mixin font-p {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@mixin font-q {
  font-family: "Simonetta", serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-style: italic;
  quotes: "“ " " „";
}

@mixin font-link-p($underline: $color-section) {
  text-decoration: underline $underline;
  &:hover {
    color: $color-bkgd;
    text-decoration: none;
  }
}

@mixin opacity {
  opacity: 0.6;
  cursor: pointer;
}

// @mixin animation($delay: 0.5s) {
//   animation: animation 1s ease $delay 1 normal both running;
//   opacity: 1;
//   @keyframes animation {
//     0% {
//       transform: translate3d(0px, -1em, 0px);
//       opacity: 0;
//     }
//   }
// }

@mixin border($color: black) {
  border: solid 2px $color;
}
