.tarifs {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  @media screen and (max-width: $responsive-tablet) {
    flex-direction: column;
    align-items: center;
  }

  &--section {
    padding: 0 12rem;

    @media screen and (max-width: $responsive-large) {
      padding: 0 6rem;
    }
    @media screen and (max-width: $responsive-laptop) {
      padding: 0 3rem;
    }
  }

  &__btn {
    display: flex;
    @include font-title;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgba(206, 161, 151, 1) 0%,
      rgba(240, 198, 193, 1) 100%
    );
    @media screen and (max-width: $responsive-laptop) {
      font-size: 2rem;
    }

    &--middle {
      @media screen and (max-width: $responsive-tablet) {
        margin: 2rem auto;
      }
    }
  }

  &__text {
    padding: 1rem 2rem;
    width: 5rem;

    &--visible {
      // background: $color-article;
      // border: 2px solid $color-article;
      border-radius: 5px 0 0 5px;

      &--board {
        background: $color-nav;
        border: 2px solid $color-nav;
      }
    }

    &--hidden {
      // background: $color-white;
      // border: 2px solid $color-article;
      font-weight: bold;
      border-radius: 0 5px 5px 0;

      &--board {
        background: $color-white;
        border: 2px solid $color-nav;
      }
    }
  }

  &__details {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.2rem;

    &--width {
      margin: auto;
      width: 90%;
    }

    &--board {
      padding-bottom: 1rem;
    }
  }

  &__padding {
    padding: 1rem 0;
  }
}
