.container {
  &-description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    padding: 0 12rem;

    @media screen and (max-width: $responsive-large) {
      padding: 0 6rem;
    }
    @media screen and (max-width: $responsive-laptop) {
      padding: 0 3rem;
      flex-direction: column;
    }

    &--reverse {
      @media screen and (max-width: $responsive-laptop) {
        flex-direction: column-reverse;
      }
    }

    &__text {
      width: 70%;

      @media screen and (max-width: $responsive-laptop) {
        width: 100%;
      }
    }

    &__img {
      object-fit: fill;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &-timeline {
    position: relative;

    &__lines {
      &--hidden {
        width: 0.15rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        z-index: 2;

        @media screen and (max-width: $responsive-laptop) {
          display: none;
        }
      }

      &--visible {
        background: $color-nav;
        border: 0.1rem solid $color-bkgd;
        position: absolute;
        top: 0;
        height: 99%;
        width: 100%;
        z-index: 1;
        @media screen and (max-width: $responsive-laptop) {
          display: none;
        }
      }
    }

    &__cursor {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
      background: $color-bkgd;
      border: 0.15rem solid $color-nav;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -0.25rem;
      transform: translateY(4em);
      z-index: 3;
      @media screen and (max-width: $responsive-laptop) {
        display: none;
      }
    }
  }

  &-withline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    @include font-simonetta;
    @media screen and (max-width: $responsive-large) {
      padding: 4rem 0;
    }
    @media screen and (max-width: $responsive-laptop) {
      flex-direction: column;
      padding-top: 0;
    }

    &--first {
      padding-top: 0;
    }

    &--even {
      @media screen and (max-width: $responsive-laptop) {
        flex-direction: column-reverse;
      }
    }

    &--block {
      @media screen and (min-width: $responsive-laptop) {
        width: 40%;
      }
    }

    &--bkgd {
      background: $color-white;
      padding: 1.5rem;
      padding-left: 2.5rem;
      border-radius: 5px;
    }

    &__title {
      font-family: "Dancing Script", serif;
      font-size: 2rem;
      font-weight: bold;
      color: $color-nav;
      border-bottom: solid 2px $color-nav;
      margin-bottom: 1rem;
      @media screen and (max-width: $responsive-laptop) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }

    &__img {
      max-height: 370px;
      object-fit: contain;
      max-width: 100%;
      @media screen and (max-width: $responsive-laptop) {
        padding-top: 2rem;
      }
    }

    &__link {
      @include font-link-p($color-black, $color-bkgd);
    }

    &__list {
      list-style-position: outside;
    }

    &__item {
      text-align: left;
      @include font-simonetta;
    }

    &__quiz {
      @include font-title;
      line-height: 2rem;
      margin-bottom: 4rem;
      padding: 2rem 1rem;
      background: $color-article;
      box-shadow: 2px 2px 2px $color-nav;
      @media screen and (min-width: $responsive-laptop) {
        width: 60%;
        margin: auto;
      }
    }
  }

  &-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
