.footer {
  background: $color-nav;
  padding: 1rem;

  &container {
    display: flex;
    justify-content: center;
    @media screen and (max-width: $responsive-laptop) {
      flex-direction: column;
      align-items: center;
    }
  }

  &block {
    width: 20%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $responsive-laptop) {
      width: 100%;
      padding-top: 2rem;
    }

    &--temporary {
      padding-top: 2.5rem;
    }
  }

  &__link {
    color: $color-black;

    &--title {
      @include font-title;
      font-weight: bold;
      position: relative;
      @media screen and (max-width: $responsive-laptop) {
        font-size: 3rem;
      }

      &::after {
        position: absolute;
        content: "";
        background: $color-article;
        width: 100%;
        height: 4px;
        top: 100%;
        left: 0;
      }

      &:hover {
        color: $color-bkgd;
      }

      &:hover::after {
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
      }
    }

    &--small {
      text-decoration: underline $color-article;
      display: inline;
      &:hover {
        color: $color-bkgd;
        text-decoration: none;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }
}
