.nav {
  height: $height-nav;
  background: $color-nav;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $responsive-laptop) {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 10;
  }

  &logo {
    display: none;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    @media screen and (max-width: $responsive-laptop) {
      display: flex;
      position: relative;
      z-index: 20;
    }

    &:hover {
      background: $color-article;
    }

    &__img {
      height: 6vh;
    }

    &__title {
      @include font-nav;
    }
  }

  &toggle {
    display: none;
    @media screen and (max-width: $responsive-laptop) {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 20;
    }
  }

  &menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    @media screen and (max-width: $responsive-laptop) {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $color-nav;
      flex-direction: column;
      justify-content: space-evenly;
      transform: translateX(-100%);
      transition: transform 1s;
    }

    &__link {
      @include font-nav;
      height: $height-nav;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      @media screen and (max-width: $responsive-laptop) {
        box-sizing: border-box;
        font-size: 2rem;
        width: 100%;
        justify-content: center;
      }

      &:hover {
        background: $color-article;
        box-shadow: 0 10px 20px $color-nav;
        @media screen and (max-width: $responsive-laptop) {
          box-sizing: border-box;
          box-shadow: none;
        }
      }
    }

    &--responsive {
      display: none;
      @media screen and (max-width: $responsive-laptop) {
        box-sizing: border-box;
        display: flex;
        gap: 3rem;
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: $responsive-laptop) {
  .ouvrir {
    display: block;
  }

  #fermer {
    display: none;
  }

  .open .ouvrir {
    display: none;
  }

  .open #fermer {
    display: block;
  }

  .open .navmenu {
    transform: translateX(0);
  }
}
